#title {
  font-weight: bold;
  color: #660033;
}

#intro {
  color: goldenrod;
}

#won {
  color: #b30000;
}

#score {
  color: #66ff33;
}

.gameStatus {
  color: rgb(71, 255, 71);
  font-weight: normal;
}
